<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../public/css/bootstrap.css">
    <link rel="stylesheet" href="../public/css/mdb.css">
    <!--<link rel="stylesheet" href="../public/css/styles.css">-->
</head>
<body>

<!-- Include Navbar -->
<% include ./layout/navbar.ejs %>

    <section>
        <h1>Contact Us</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header text-center">
                            <h3>Register</h3>
                        </div>
                        <div class="card-body">
                            <form method="post" action="/contact">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="username" placeholder="UserName">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="email">
                                </div>
                                <input type="submit" value="Register" class="btn btn-success">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container mt-3">
            <table class="table table-hover text-center">
                <thead class="bg-primary text-white">
                <tr>
                    <th>NAME</th>
                    <th>Password</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <% users.forEach((user) => { %>
                <tr>
                    <td><%= user.name %></td>
                    <td><%= user.password %></td>
                    <td><%= user.email %></td>
                </tr>
                <% });%>
                </tbody>
            </table>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid aut blanditiis debitis deserunt doloremque earum, eum explicabo facere illo impedit incidunt ipsum laudantium minus modi molestiae, nemo nobis, obcaecati odit quas qui quidem repellendus sed tempora ut veniam vitae voluptatibus. Consequatur est et iusto labore ratione reiciendis. Incidunt, voluptas.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci animi asperiores deleniti dicta doloremque dolores doloribus eius error excepturi explicabo, fugit id illo, illum in itaque iusto mollitia necessitatibus quae quis repellat repellendus similique sint tempora temporibus totam vitae. Natus nisi optio voluptate! Aliquid asperiores cupiditate eveniet exercitationem fugit hic iusto mollitia necessitatibus, nihil, nisi nobis, obcaecati quis quos recusandae reiciendis rem tempore voluptatibus. Ab, assumenda at atque autem consectetur consequatur consequuntur, dignissimos doloremque eaque est expedita facilis illo in inventore, itaque iusto laudantium libero minima minus mollitia nostrum quae quam quasi reiciendis tempore temporibus ut velit vero voluptatem.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut vero, voluptatibus. Dolores eaque et magnam perspiciatis vel? Animi architecto assumenda atque cum dicta, ducimus ea est exercitationem fugiat fugit harum ipsum laborum libero modi necessitatibus nulla pariatur perferendis, provident, quam quidem reprehenderit repudiandae sed soluta temporibus tenetur unde velit voluptatibus.</p>
    </section>
</body>
</html>