<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.css">
      <link rel="stylesheet" href="../public/stylesheets/mdb.css">
      <link rel='stylesheet' href='../public/stylesheets/style.css' />
  </head>
  <body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-success">
      <a class="navbar-brand" href="#"><%= title %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/about">About US</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact Us</a>
              </li>
          </ul>
      </div>
  </nav>

    <section class="p-3">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequatur corporis dolore dolorem doloremque est eveniet, fuga in labore modi, nihil numquam quo quod reiciendis sed sunt totam ut! Beatae illo, illum inventore maiores minus nostrum quam quidem quo sapiente sed similique, suscipit vero voluptates. Dicta ducimus nemo numquam odit.</p>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi, aut cupiditate debitis dolore, ducimus esse id libero minus modi nesciunt nostrum optio perspiciatis rem rerum sequi sunt tenetur, veritatis. Commodi cumque debitis dicta doloribus ducimus earum eius eos facilis fuga illum maiores, maxime necessitatibus nobis officiis quidem quos veritatis. Ad commodi error fugiat molestiae obcaecati perferendis qui quia temporibus.</p>
    </section>

  <script src="../public/javascripts/jquery-3.2.1.min.js"></script>
  <script src="../public/javascripts/popper.min.js"></script>
  <script src="../public/javascripts/bootstrap.js"></script>
  <script src="../public/javascripts/mdb.js"></script>

  </body>
</html>
