body{
    margin: 0;
    font-family: "Comic Sans MS",sans-serif;
}
h2{
    background-color: lightsalmon;
    text-align: center;
    padding: 10px;
}
form{
    background-color: lightgray;
    width: 400px;
    text-align: center;
    margin: auto;
    padding: 10px;
}
input:focus{
    outline: none;
}
h3{
    margin: 0;
}
#span{
    color: red;
    font-size: 30px;

}