<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="../public/stylesheets/mdb.css">
    <link rel='stylesheet' href='../public/stylesheets/style.css'/>
</head>
<body>

<!-- load navbar.hbs -->
{{> navbar }}


<section class="p-3">
    <h1 class="text-warning">{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab architecto consectetur cumque, distinctio dolorum earum eius et eum ex excepturi laboriosam nemo numquam quae quibusdam repudiandae sed sint suscipit temporibus vel. Eos illo laborum possimus. Assumenda eos, id officiis quisquam rem sed voluptates. Aut cupiditate eaque mollitia quos rem?</p>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam maxime natus soluta. Amet consectetur dignissimos enim voluptas. Ad aperiam aspernatur, assumenda autem debitis delectus deleniti dicta dolor eaque enim error inventore ipsa ipsam labore laborum natus, nulla, obcaecati omnis placeat possimus quisquam quo repellendus sapiente similique tempore veritatis voluptas voluptatem!</p>
</section>

<script src="../public/javascripts/jquery-3.3.1.min.js"></script>
<script src="../public/javascripts/popper.min.js"></script>
<script src="../public/javascripts/bootstrap.js"></script>
<script src="../public/javascripts/mdb.js"></script>
</body>
</html>
