extends layout/navbar

block content
  section.p-3
    h1.text-primary #{title}
    p Welcome to
    p.lead
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet deserunt dolores enim et fugiat illo magni non possimus quas. Cum dignissimos eaque eveniet, libero suscipit tempora vitae. Accusamus cum dolore dolorem fugit laboriosam nihil pariatur quisquam voluptatem. Adipisci aliquam animi consectetur consequatur deleniti dignissimos earum enim eum exercitationem explicabo, facere facilis fugiat hic id illo illum in ipsum mollitia nesciunt non perspiciatis praesentium quos reiciendis rem soluta, tenetur voluptas. Ducimus illo nostrum numquam quae soluta! Consectetur dolorem eius, eos facilis incidunt numquam omnis placeat praesentium quas quisquam rem vel. Animi eos exercitationem maxime, necessitatibus nemo nobis numquam reprehenderit repudiandae voluptates.
    p.lead
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet deserunt dolores enim et fugiat illo magni non possimus quas. Cum dignissimos eaque eveniet, libero suscipit tempora vitae. Accusamus cum dolore dolorem fugit laboriosam nihil pariatur quisquam voluptatem. Adipisci aliquam animi consectetur consequatur deleniti dignissimos earum enim eum exercitationem explicabo, facere facilis fugiat hic id illo illum in ipsum mollitia nesciunt non perspiciatis praesentium quos reiciendis rem soluta, tenetur voluptas. Ducimus illo nostrum numquam quae soluta! Consectetur dolorem eius, eos facilis incidunt numquam omnis placeat praesentium quas quisquam rem vel. Animi eos exercitationem maxime, necessitatibus nemo nobis numquam reprehenderit repudiandae voluptates.
